.error_msg{color:red;text-align: center;font-size: 14px;}
.success_msg{color:green;text-align: center;font-size: 14px;}
.flright{float: right;}
.uppercase-hd{text-transform: capitalize;color: orange;}
.page_header{
	padding:30px 10px 10px 10px;
	background:#eee;
}
.cpost{background-color: orange;width: 20%;color: white;float: right;}
.cpost:hover{background-color: orange;color: white;}
.rowicon{margin-right: 20px;}
.comments-row{margin-top: 10px;border: 1px solid #eee;padding: 10px 40px;}
.page-content{border: 1px solid #eee;}
.post-desc{margin-bottom: 10px;}
.table{margin-top:10px;margin-bottom: 0px;}