.error_msg{color:red;text-align: center;font-size: 14px;}
.success_msg{color:green;text-align: center;font-size: 14px;}
.flright{float: right;}
.page-heading{text-align:center;color: white;background: blue;padding: 10px;}